$color-white: #ffffff;
$color-LightBlueGrey: #5f91b0;
$color-black: #000000;





$font-size-4px: 0.25em;
$font-size-6px: 0.375em;
$font-size-8px: 0.5em;
$font-size-10px: 0.625em;
$font-size-12px: 0.75em;
$font-size-14px: 0.875em;
$font-size-18px: 1.125em;
$font-size-20px: 1.25em;
$font-size-22px: 1.375em;
$font-size-24px: 1.5em;
$font-size-26px: 1.625em;
$font-size-28px: 1.75em;
$font-size-30px: 1.875em;
$font-size-32px: 2em;
$font-size-34px: 2.125em;
$font-size-40px: 2.5em;
$font-size--40px: -2.5em;
$font-size-42px: 2.625em;
$font-size-44px: 2.75em;
$font-size-46px: 2.875em;
$font-size--46px: -2.875em;
$font-size-48px: 3em;
$font-size-50px: 3.125em;
$font-size--50px: -3.125em;


$width-320px: 20em